#teamsTable
  %h1 Listing teams

  %table.table.table-striped
    %thead.thead-dark
      %tr
        %th Team Name
        %th
        %th Actions
        %th

    %tbody
      - @teams.each do |team|
        %tr
          .teamName
            -# %td= team.teamName
            %td=link_to team.teamName, home_search_path(:linkToApiId => team.apiId)
          .linkTag
            %td= link_to 'Subscribe', team_setUserTeam_path(:currentTeamName => team.teamName, :currentTeamId => team.id) 
            %td= link_to 'Relavant Games', game_showTeamGames_path(:teamIdToFindGames => team.id)
            %td= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' }

  %br

  = button_to 'New Team', new_team_path, :method => :get, :class => "btn btn-primary"
  %br
  %br
  %br