#showUserTeam
  .wrapper
    %table.table.table-striped
      %tbody
        %tr
          - if @userTeams.count == 0
            =image_tag ('https://i.pinimg.com/originals/24/86/51/2486517534aa0b0d175c18c343e50d82.jpg'), :class => "img_class"
            %br
            %br
            %p You haven't subscribed any team yet, pick your favourite team to subscribe to!

            -# %p= button_to "Available Teams", navigation_teams_path, :method => :get, class: "btn btn-primary"
          - else

            - @userTeams.each do |team|
              =image_tag (@team['logo']), :class => "img_class"
              %br
              .teamName
                %th{:colspan => 3} Subscribed to: &nbsp #{team.teamName}
              .linkTag
                %tr
                  %td= link_to 'Relavant Games', game_showTeamGames_path(:teamIdToFindGames => team.id)
                  %td= link_to 'Show', home_search_path(:linkToApiId => Team.find_by(teamName: team.teamName))
                  %td= link_to 'Unsubscribe', team_cancelUserTeam_path
    .push
  .footer