%h1=t('.editTitle')

-# edit page which includes the form view to be rendered
= render 'form'
-# also provides button to games#show and back to game#index, with button_to and get method and Bootstrap
= button_to 'Show', @game, :method => :get, class: "btn btn-primary"
= button_to 'Back', games_path, :method => :get, class: "btn btn-primary"


%br
%br
%br