%h1 New game

-# To create a new game, render the form first, able to save new game created
= render 'form'
-# Button back to games#index page with Bootstrap
= button_to 'Back', games_path, :method => :get, class: "btn btn-primary"


%br
%br
%br
