// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.box{
    margin-top: 50px;
}
form label{
    display: block;
    margin: 0 auto;
    margin-right: auto;
    margin-top: 15px;
    width: 360px;
    text-align: center;

} form input:not(.submitTag), form textarea{
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    width: 360px;
    text-align: center;
    background-color: rgb(253, 253, 253);
    transition: 150ms;
    border-radius: 5px;
} form input:not(.submitTag):hover, form textarea:hover{
    background-color: rgb(231, 253, 255);
} form input:not(.submitTag):focus, form textarea:focus{
    background-color: rgb(231, 253, 255);
}
 form .submitTag{
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    width: 100px;
    border: none;
    border-radius: 6px;
    border-color: white;
    text-align: center;
    color: white;
    background-color: rgb(109, 202, 114);
    transition: 250ms;
}form .submitTag:hover{
    background-color: rgb(81, 126, 77);
}