.emailField, .passwordField{
    margin-top: -15px;
}h2,h3{
    margin: 30px auto;
    text-align: center;
    font: larger;
    font-weight:lighter;
} .field{
    margin-top: 30px;
} .linkInLinks,.backLink{
    text-align: center;
    width: 450px;
    margin: auto;
} .passwordRequirement{
    margin: auto;
    text-align: center;
}