// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#example1 {
    border: 2px solid black;
    padding: 25px;
    background: url(app\assets\images\HomeCover.png);
    background-repeat: no-repeat;
    background-size: auto;
  }