// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home #cover .img_class{
    height: 350px;
    width: auto\9; /* ie8 */
    display: block;
    margin-left: auto;
    margin-right: auto;
  }#home div.mx-auto{
    display: block;
    margin-left: auto;
    margin-right: auto;
  } h1,p{
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
  }#homeSearch div.col-lg-6{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width:100%;
    height:300px;
    position:absolute;
  }#homeSearch div.container{
    height: 30%;
  }
  #homeSearch div.roster{
    text-align: center;
    margin: auto;
    display: block;
    width:40%;
	  position: relative;
  }#homeSearch td{
    text-align: center;
    margin: auto;
  }
  #homeSearch div.teamStandings{
    display: block;
    text-align: center;
    margin: auto;
    width:40%;
    margin-right: auto;
    position: relative;
  }#homeSearch div.logo{
    display: inline-block;
    max-width: 130px;
  }.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
  } .footer, .push {
    height: 100px; /* .push must be the same height as .footer */
  } .teamRosterHeader{
    font-weight: bolder;
  } .card-body{
    border: aliceblue;
    border-width: 10px;
  }