// Place all the styles related to the navigation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 106, 206);
    text-decoration: none;
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    transition: 230ms;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover:not(.default) {
    color: white;
    background-color: rgb(0, 124, 240);
    text-decoration: none;
  } li a:focus:not(.default) {
    color: rgb(255, 250, 181);
    background-color: rgb(0, 124, 240);
    text-decoration: none;
  }.default {
    color: white;
    background-color: rgb(255, 0, 0);
    transition: 230ms;
  }.default:hover {
    color: white;
    background-color:rgb(255, 61, 61);
    text-decoration: none;
  } .default:focus {
    color: rgb(255, 250, 181);
    background-color:rgb(255, 61, 61);
    text-decoration: none;
  } .logo img{
    max-width: 100%;
    max-height:100%;
  } .box h1{
    padding-left: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .site-footer
{
  background-color:#006ACE;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#ffffff;
  position: relative;
  bottom: 0;
  width: 100%;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:rgb(255, 40, 40);
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#006ACE;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
footer .footer-links li
{
  display:block
}
.footer-links a
{
  color:#ffffff
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#ffffff;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
} #user .userEmail{
  float: right;
  display: block;
  color: white;
  text-align: center;
  transition: 230ms;
  padding: 14px 16px;
  text-decoration: none;
} #user {
  float: right;
  display: block;
} #nav img{
    height: 45px;
    width: auto\9; /* ie8 */
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3px 16px;
}