<html>
<body>

<ul>
  <li><a class="logo" href="#"><img src="C:\Sites\COM2025_Project\app\assets\images\LOGO.png" alt=""></a></li>
  <li><a class="default" href="navigation_home">Home</a></li>
  <li><a href="navigation_games">Games</a></li>
  <li><a href="navigation_table">Table</a></li>
  <li><a href="navigation_contact">Contact</a></li>
</ul>

</body>
</html>
